{% extends 'phishAnalyzer/base.html' %}

{% block content %}
<h2 style="text-align: center;">About Us:</h2>

<p style="text-align: center;">
    
    Welcome to Phishing Awareness Tool, your comprehensive phishing awareness solution designed to empower individuals and organizations against cyber threats.
    
    We understand the critical importance of safeguarding sensitive information and combating malicious attempts to compromise data security. Our team of experts is dedicated to creating innovative tools that enhance cybersecurity awareness and resilience.
    
    With Phishing Awareness Tool, we aim to educate users about the dangers of phishing attacks and equip them with the knowledge and skills needed to recognize and avoid such threats effectively. Whether you're a business owner, an IT professional, or an individual user, our platform provides valuable resources and insights to strengthen your defenses against phishing attempts.
    
    Our commitment to cybersecurity excellence drives us to continuously update and improve Phishing Awareness Tool to stay ahead of emerging threats and evolving attack techniques. By staying informed, vigilant, and proactive, together, we can build a safer digital environment for everyone.
    
    Thank you for choosing Phishing Awareness Tool as your partner in cybersecurity awareness. Let's work together to make the internet a safer place for all.
</p>


{% endblock %}